<form class="form-cria-site" (ngSubmit)="onSubmit()">
  <div>
    <label for="nomeSite">Nome do Site:</label>
    <input type="text" id="nomeSite" [(ngModel)]="nomeSite" name="nomeSite" required>
  </div>
  <div>
    <label for="fontePrimaria">Fonte Primária:</label>
    <input type="text" id="fontePrimaria" [(ngModel)]="fontePrimaria" name="fontePrimaria" required>
  </div>
  <div>
    <label for="fonteSecundaria">Fonte Secundária:</label>
    <input type="text" id="fonteSecundaria" [(ngModel)]="fonteSecundaria" name="fonteSecundaria" required>
  </div>
  <div>
    <label for="fonteTerciaria">Fonte Terciária:</label>
    <input type="text" id="fonteTerciaria" [(ngModel)]="fonteTerciaria" name="fonteTerciaria" required>
  </div>
  <div>
    <label for="fontePrimaria">Tamanho da Fonte Primária:</label>
    <input type="text" id="tamanhoFontePrimaria" [(ngModel)]="tamanhoFontePrimaria" name="tamanhoFontePrimaria" required>
  </div>
  <div>
    <label for="fonteSecundaria">Tamanho da Fonte Secundária:</label>
    <input type="text" id="tamanhoFonteSecundaria" [(ngModel)]="tamanhoFonteSecundaria" name="tamanhoFonteSecundaria" required>
  </div>
  <div>
    <label for="fonteTerciaria">Tamanho da Fonte Terciária:</label>
    <input type="text" id="tamanhoFonteTerciaria" [(ngModel)]="tamanhoFonteTerciaria" name="tamanhoFonteTerciaria" required>
  </div>
  <div>
    <label for="corPrimaria">Cor Primária:</label>
    <input type="color" id="corPrimaria" [(ngModel)]="corPrimaria" name="corPrimaria" required>
  </div>
  <div>
    <label for="corSecundaria">Cor Secundária:</label>
    <input type="color" id="corSecundaria" [(ngModel)]="corSecundaria" name="corSecundaria" required>
  </div>
  <div>
    <label for="corTerciaria">Cor Terciária:</label>
    <input type="color" id="corTerciaria" [(ngModel)]="corTerciaria" name="corTerciaria" required>
  </div>
  <div>
    <label for="barraSuperior">Barra Superior:</label>
    <input class="switch" type="checkbox" id="barraSuperior" role="switch" [(ngModel)]="barraSuperior" name="barraSuperior">
  </div>
  <div *ngIf="barraSuperior">
    <app-barra-superior></app-barra-superior>
  </div>
  <div>
    <label for="rodaPe">RodaPé:</label>
    <input class="switch" type="checkbox" id="rodaPe" role="switch" [(ngModel)]="rodaPe" name="rodaPe">
  </div>
  <div *ngIf="rodaPe">
    <app-rodape (rodaPeChange)="handleRodaPeChange($event)"></app-rodape>
  </div>
  <div>
    <label for="quantidadeTelas">Quantidade de Telas:</label>
    <input type="number" id="quantidadeTelas" [(ngModel)]="quantidadeTelas" name="quantidadeTelas" required (input)="updateTelas()" min="1">
  </div>
  <app-cria-tela *ngFor="let tela of telas; let i = index"
                 [tela]="telas[i]"
                 [index]="i"
                 (telaChange)="handleTelaChange($event)">
  </app-cria-tela>
  <button type="submit">Salvar</button>
</form>
