<div class="box-tela">
  <label for="tela{{index}}">Tela {{index + 1}}:</label>
  <div class="lado-a">
    <label for="ladoA">Lado A:</label>
    <div>
      <label for="nomeSite">Nome do Site:</label>
    </div>
    <div>
      <label for="nomeSite">Nome do Site:</label>
    </div>
    <div>
      <label for="nomeSite">Nome do Site:</label>
    </div>
  </div>
  <div class="lado-b">
    <label for="ladoB">Lado B:</label>
    <div>
      <label for="nomeSite">Nome do Site:</label>
    </div>
    <div>
      <label for="nomeSite">Nome do Site:</label>
    </div>
    <div>
      <label for="nomeSite">Nome do Site:</label>
    </div>
  </div>
</div>
