<div class="sidebar" [class.active]="isActive" (click)="toggleSidebar($event)">
  <nav>
    <ul>
      <li (click)="$event.stopPropagation()"><a href="#"><img src="assets/casa.png" alt="Home Icon"> <span>Home</span></a></li>
      <li (click)="$event.stopPropagation()"><a href="#"><img src="assets/aplicativo-mensagem.png" alt="About Icon"> <span>About</span></a></li>
      <li (click)="$event.stopPropagation()"><a href="#"><img src="assets/aplicativo-planilha.png" alt="Services Icon"> <span>Services</span></a></li>
      <li (click)="$event.stopPropagation()"><a href="#"><img src="assets/gostar.png" alt="Contact Icon"> <span>Contact</span></a></li>
    </ul>
  </nav>
</div>
